// index.html
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    border-bottom: 1px solid #d9d9d9;
    height: 170px;

    // p > a > img {
    //     width: 33.3%;
    // }

    nav {
        // width: 44.4%;
        
        ul {
            display: flex;

            li {
                list-style: none;
                // margin-right: 40px;

                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: #000;
                }
            }

            li+li {
                margin-left: 45px;
            }
        }
    }
    
    .header-box {
        // width: 33.2%;

        p {
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}

main {
    p {
        margin-bottom: 1rem;
        line-height: 25px;
    }

    h2,h3 {
        margin-bottom: 5px;
    }
    // 細かくやった方がいいかも

    .carousel {
        width: 70%;
        height: 570px;
        margin: 0 auto;
        // padding-bottom: 60px;
        padding-top: 20px;
        padding-bottom: 80px;

        .carousel-inner {

            .carousel-item {
                height: 100%;

                img {
                    // position: absolute;
                    width: 100%;
                }
            }
        }
    }

    // @media (min-width: 320px) {
    //     .carousel,
    //     .carousel .item,
    //     .carousel .item-mask,
    //     .carousel-inner .item .item-mask img {
    //       height:200px;
    //     }
    //   }
      
    //   @media (min-width: 768px) {
    //     .carousel,
    //     .carousel .item,
    //     .carousel .item-mask,
    //     .carousel-inner .item .item-mask img {
    //       height:400px;
    //     }
    //   }

    .home-text {
        width: 70%;
        border-top: 1px solid #d9d9d9;
        padding-top: 40px;
        margin: 0 auto;
        margin-bottom: 90px;
        line-height: 25px;

        p > img {
            width: 140px;
            // width: auto;
            height: auto;
            margin-bottom: 30px;
        }

        span {
            font-weight: bold;
        }
    }

    .news {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 100px;

        h1 {
            font-weight: normal;
            font-size: 30px;
        }

        .news-box {
            color: #000;

            .news-list {
                color: #5fa6ac;

                a {
                    color: #5fa6ac;

                    &:hover {
                        color: #5fa6ac;
                    }
                }
            }
        }

        a {
            text-decoration: none;

            img {
                width: 60%;
            }
        }




    }

    .sns {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;
    }
}

footer {
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    font-weight: lighter;
    height: 200px;
    width: 100%;
    margin: auto;

    p {
        font-size: 12px;
        font-weight: normal;
    }

    nav {

        ul {

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                }
            }
        }
    }
}


// philosophy.html
.title-box {
    width: 80%;
    margin: 0 auto;

    h1 {
        color: #787878;
        // font-family: Oswald;
        font-size: 30px;
        padding-top: 60px;
        padding-bottom: 40px;
        // font-weight: lighter;
    }

    p {
        margin-bottom: 40px;
    }
}

.philosophy-list {
    width: 60%;
    margin: 0 auto;
    color: #333;
    margin-bottom: 40px;

    h2 {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 5px;
    }

    &:last-child {
        margin-bottom: 100px;
    }
}

.concept {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;

    .concept-img {
        width: 50%;

        img {
            max-width: 500px;
        }
    }

    .concept-text {
        width: 50%;

        p {
            color: #333;
            text-align: center;
            // font-family: Oxygen;
            // font-weight: 100;

            &:last-child {
                text-align: right;
            }
        }

        .lewis {
            color: #696969;
            line-height: 30px;
        }
    }
}

.housing-design {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;

    .housing-design-box {
        width: 60%;
        margin-right: 80px;


        h2 {
            color: #000;
            font-size: 17px;
            font-weight: bold;
        }

        p {
            color: #333;
            line-height: 28px;
            font-weight: lighter;
        }

        .housing-design-text {
            font-weight: bold;
            color: #000;
        }
    }

    .housing-design-img {
        width: 40%;

        img {
            max-width: 400px;
        }
    }
}


// work.html

.title-box {

    .work-margin {
        margin-left: 20px;
    }

    .work-card {
        display: flex;
        flex-wrap: wrap;

        .work-box {
            overflow:	hidden;
            position: relative;
            width: 31%;
            height: 243px;
            margin-bottom: 50px;

            &:hover .mask {
                opacity:		1;	/* マスクを表示する */
            }
    
            .mask {
                width:			100%;
                height:			100%;
                position:		absolute;	/* 絶対位置指定 */
                top:			0;
                left:			0;
                opacity:		0;	/* マスクを表示しない */
                background-color:	rgba(135,206,250,0.6);	/* マスクは半透明 */
                -webkit-transition:	all 0.2s ease;
                transition:		all 0.2s ease;
                margin-left: 20px;
    
                .caption {
                    font-size:		110%;
                    text-align: 		center;
                    padding-top:		100px;
                    color:			#fff;
                    line-height: 25px;
                }
            }
    
            img {
                width: 100%;
                height: 243px;
                margin-bottom: 40px;
                margin-left: 20px;
            }
        }
    }

    &:last-child {
        margin-bottom: 80px;
    }
}


// magazine.html

.magazine-title {

    h1 {
        color: #333;
        font-weight: bold;
        padding-bottom: 20px;
    }

    p {
        line-height: 22px;
        margin-bottom: 25px;
    }
}

.magazine-text {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 80px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 90px;

    h2 {
        font-size: 17px;
        font-weight: bold;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    p {
        color: #333;
    }
}


// profile.html
.profile-title {
    margin-bottom: 80px;

    img {
        width: 200px;
        height: auto;
    }

    h1 {
        color: #333;
        font-weight: bolder;
        padding-bottom: 20px;
    }

    p > img {
        margin-bottom: 20px;
    }

    p {
        line-height: 22px;
        margin-bottom: 25px;
    }

    a {
        text-decoration: none;
        color: #5fa6ac;
    }
}


// overview.html
.overview {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;

    .overview-text {
        width: 50%;
        margin-right: 60px;
        font-weight: bold;
        line-height: 28px;

        p {
            margin-bottom: 40px;
        }
    }
}


// flow.html
.flow {
    display: flex;
    width: 80%;
    margin: 0 auto;

    .flow-box {
        width: 50%;
        margin-right: 40px;

        .flow-list {
            color: #333;
            margin-bottom: 50px;

            h2 {
                font-size: 18px;
                font-weight: bold;
            }

            p {
                line-height: 25px;
            }

            .flow-text-color {
                font-weight: bolder;
                color: #e36c09;
            }

            span {
                font-weight: bolder;
                color: #565656;
            }
        }
    }
}